<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>TrollVNC</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Service running</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>id</key>
			<string>service-status</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Network settings</string>
			<key>action</key>
			<string>openNetworkSettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Access &amp; security</string>
			<key>action</key>
			<string>openSecuritySettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Display settings</string>
			<key>action</key>
			<string>openDisplaySettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Input settings</string>
			<key>action</key>
			<string>openInputSettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Connections &amp; notifications</string>
			<key>action</key>
			<string>openConnectionSettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Performance tuning</string>
			<key>action</key>
			<string>openPerformanceSettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>VNC Web &amp; TLS</string>
			<key>action</key>
			<string>openWebSettings</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>Apply changes to restart the unified service.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Connected clients</string>
			<key>action</key>
			<string>showClients</string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string></string>
			<key>cellClass</key>
			<string>TVNCDashboardCell</string>
			<key>tvncDashboardRow</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
